<script lang="ts">
export default {
  name: "NavLink",
  props: ["url", "text", "params"],

  data() {
    return {
      newUrl: ""
    };
  },

  methods: {
    /**
     * @description retourne une url avec une liste de paramètres sous forme de caractère
     */
    urlConcat(): string {
      let urlParams = this.url;
      if (this.params && this.params.length > 0) {
        this.params.forEach(element => {
          urlParams += "/" + element;
        }); 
      }
      return urlParams;
    }
  },
  created() {
    this.newUrl = this.urlConcat();
  }
};
</script>

<template>
  <router-link :to="newUrl">{{text}}</router-link>
</template>

<style>
a {
  text-decoration: none;
}
</style>
