
<script>
import { Vue } from "vue-property-decorator";
import NavLink from "@/components/NavLink.vue"; // @ is an alias to /src

export default {
  name: "App",
  components: {
    NavLink
  },
  data: function() {
    return {
      urls: [
        { url: "/", text: "Accueil" },
        { url: "/about", text: "À propos" },
        { url: "/contact", text: "Contact", params: ['Alexandre', 'LALAAS'] }
      ]
    };
  }
};
</script>

<template>
  <div id="app">
    <nav>
      <span v-for="(header, index) in urls" :key="header.url">
        <NavLink :url="header.url" :text="header.text" :params="header.params" />
        <span v-if="index < urls.length -1"> | </span>
      </span>
    </nav>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
